# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore the built binary
cert-manager-webhook-namecom

# Ignore actual test data files with sensitive information
testdata/namedotcom/config.json
testdata/namedotcom/namedotcom-credentials.y*ml

# Make artifacts
_out
_test
